{% load compress %}{% load subcommand_tags %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Spine App{% endblock %}</title>

    {# javascript/coffeescript #}
    {% compress js %}
      {% generate spine %}
      {% generate spineapp ./lib %}
      {% generate spineapp ./index %}
      {% generate spineapp ./models %}
      {% generate spineapp ./controllers %}
      {% generate spineapp ./views %}
    {% endcompress %}


    {# less/css #}
    {#% compress css %#}
      {#% generate spine spineapp %#}
    {#% endcompress %#}

  </head>
  <body>
    <h1>Spine App</h1>

    <div id="spineapp"></div>

    <script type="text/javascript" charset="utf-8">
        $(function(){
            new Spineapp({el: $("#spineapp")});
            console.log(12);
        });
    </script>
  </body>
</html>
